<div class="container mt-4">
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="" class="img-fluid" />
      <div class="mt-3">
        <h5>Sistema de Lançamentos Bancários</h5>
        <p>Projeto Angular integrado com NET CORE API</p>
      </div>
      <div class="mt-3">
        <div class="d-grid mb-2">
          <a routerLink="cadastro-lancamentos" class="btn btn-outline-primary">
            Cadastrar Lançamento
          </a>
        </div>
        <div class="d-grid mb-2">
          <a routerLink="consulta-lancamentos" class="btn btn-outline-primary">
            Consultar Lançamento
          </a>
        </div>
       

      </div>
    </div>
    <div class="col-md-9" style="padding-left: 30px;">
      
      <router-outlet></router-outlet>

    </div>
  </div>
</div>